  .headercontainer{
      width: 100%;
      height: 20vh;
      background-color: #353535;
  }

  .name {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Givesthat scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */ 
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
    }

  @keyframes nametyping {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes cursor-blinking {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }