  @font-face {
    font-family: terminal ;
    src: url("VT323-Regular.ttf");
  }
  
  .headercontainer{
    width: 100%;
    height: 7vw;
    margin-top: auto;
    background-color: #232323;
  }

  .namecontainer{
    padding-top: 2vw;
    padding-left: 5%;
    display: flex;
    height: 2.2vw;
    width:18.5%;
    float: left;
  }

  .name {
    color: #04d9ff;
    font-size: 2vw;
    font-family: terminal;
    overflow: hidden;
    border-right: 1vw solid;
    border-color: #4ea4cf;
    white-space: nowrap;
    margin: 0;
    letter-spacing: .15em;
    animation: 
      nametyping 3s steps(17, end),
      cursorBlinking .5s step-end infinite;
    }

  @keyframes nametyping {
    from {width: 0}
    to {width: 100%}
  }

  @keyframes cursorBlinking {
    from, to {border-color: transparent}
    50% {border-color: #04d9ff}
  }

  .links {
    background-color: none;
    font-family: terminal;
    font-size: 2.5vw;
    width: 60%;
    height: 5vw;
    float: right;
    margin-top: 2vw;
  }
  .links a {
    color: #04d9ff;
    text-align: center;
    margin-left: 2vw;
    text-decoration: none;
    border-bottom-width: 0.15vw;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    transition: 0.3s;
  }
  .links a:hover {
    border-bottom-color: #fe58bc;
  }

  .bodycontainer{
      background-color: transparent;
      width: 100%;
      height: 50vw;
  }

  .footercontainer{
    background-color: #232323;
    width: 100%;
    height: 15vh;    
  }


  .copyright{
    color: #fe58bc;
    font-family: terminal;
    font-size: 1.4vw;
    text-align: center;
    padding-top: 2vw;
  }

  @media only screen and (max-width: 768px) {
    .links{
      font-size: 5vw;
      width: 90%;
    }

    .name{
      font-size: 3.5vw;
    }
    .namecontainer{
      height: 3.8vw;
      width: 31%;
      padding-left: 1vw;
      display: none;
    }
    .headercontainer{
      height: 8vw
    }
    .footercontainer{
      height: 4vw;
    }
    .copyright{
      font-size: 2vw;
    }
  }
  