  .body{
    background-color: none;
    margin: 0;    
    background: #232323;
    background-image: linear-gradient(20deg, #232323 60%, #04d9ff 100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

  .heading1container{
    background-color: transparent;
    width: 100%;
    height: 22vw;
  }

  .introtext1{
    font-family: terminal;
    font-size: 5vw;
    color: #04d9ff;
    margin-left: 10%;
    padding-top: 2vw;
    width: 35.7%;
  }
  .introtext2{
    color: #04d9ff;
    width: 40.2%;
    font-size: 5vw;
    font-family: terminal;
    overflow: hidden;
    border-right: 2.3vw solid;
    border-color: #fe58bc;
    white-space: nowrap;
    margin-left: 10%;
    animation: 
      introcursorBlinking .5s step-end infinite;
  }

  @keyframes introcursorBlinking{
    from, to {border-color: transparent}
    50% {border-color: #fe58bc}
  }

  .button{
    background-color: #232323;
    color: #04d9ff;
    border-color: #04d9ff;
    border-width: 0.1vw;
    border-style: solid;
    font-family: terminal;
    font-size: 2.3vw;
    height: 3vw;
    width: 17%;
    margin-top: 3vw;
    transition: 0.5s;
    text-align: center;
    text-decoration: none;
    margin-left:41.5% ;
    display: inline-block;
    padding-top: 0.8vw;
  }

  .button:hover{
    border-color: #fe58bc;
  }

  .introbutton:hover{
    border-color: #fe58bc;
  }

  .heading2container{
    background-color: #232323;
    width: 100%;
    height: 30vw;
  }

  .heading1{
    color: #04d9ff;
    font-family: terminal;
    font-size: 6vw;
    margin: auto;
    text-align: center;
    padding-top: 2vw;
  }
  
  .accentline1{
    background-color: #fe58bc;
    width: 30%;
    margin: auto;
    height: 0.2vw;
  }

  .text1{
    color: #04d9ff;
    font-family: terminal;
    font-size: 2.2vw;
    margin: auto;
    text-align: center;
    width: 70%;
    margin-top: 1vw;
  }

  .heading3container{
    background-color: transparent;
    width: 100%;
    height: 36vw;
  }

  .accentline2{
    background-color: #fe58bc;
    width: 55%;
    margin: auto;
    height: 0.2vw;
  }

  .projectimage{
    float: left;
    width: 35%;
    margin-left: 10%;
    margin-top: 2vw;
  }

  .projecttext{
    color: #04d9ff;
    float: right;
    font-family: terminal;
    font-size: 2.2vw;
    width: 35%;
    margin: auto;
    text-align: left;
    margin-top: 2vw;
    margin-right: 10%;
    margin-bottom: 1vw;  
  }

  @media only screen and (max-width: 768px) {
   
    
  }
