.bodybackround{
    background-color: none;
    margin: 0;    
    background: #232323;
    background-image: linear-gradient(150deg, #232323 60%, #04d9ff 100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;    
  }

  .pageheadingcontainer{
    background-color: transparent;
    width: 14%;
    margin: auto;
  }

  .pageheading{
    color: #fe58bc;
    font-size: 4vw;
    font-family: terminal;
    overflow: hidden;
    border-right: 1.3vw solid;
    border-color: #fe58bc;
    white-space: nowrap;
    margin: 0;
    letter-spacing: .15em;
    animation: 
      headingtyping 3s steps(17, end),
      headingcursorBlinking .5s step-end infinite;
  }

  @keyframes headingtyping {
    from {width: 0}
    to {width: 100%}
  }

  @keyframes headingcursorBlinking {
    from, to {border-color: transparent}
    50% {border-color: #fe58bc}
  }

  .aboutcontainer{
      width: 70%;
      height: auto;
      margin: auto;
  }
 
  .heading1{
    font-family: terminal;
    font-size: 2.5vw;
    color: #fe58bc;
    margin-bottom: 0.3vw   
  }
  .text1
  {
      margin: auto;
      font-family: terminal;
      font-size: 1.5vw;
      color: #04d9ff;
  }
 
  .goalscontainer{
    width: 70%;
    height: auto;
    margin: auto; 
    padding-top: 0.5vw;
  }

  .educationcontainer{
    width: 70%;
    height: auto;
    margin: auto; 
    padding-top: 0.5vw; 
  }

  .education{
    color: #04d9ff;
    font-family: terminal;
    font-size: 1.5vw;
    padding-top: 0.15vw;
  }

  .freelanceworkcontainer{
    width: 70%;
    height: auto;
    margin: auto; 
    padding-top: 0.5vw;    
  }

  .flexboxcontainer{
    width: 100%;
    margin:auto;
    padding-top: 4vw;   
  }

  .flexbox{
    display: flex;
    margin: auto;
    width: 90%;
    height: auto;
  }

  .flexleft{
    width: 45%;
    margin-right: 5%;
    float: left;
  }

  .experiencetext{
    color: #04d9ff;
    font-family: terminal;
    font-size: 2vw;
    padding-top: 0.15vw;
    padding-bottom: 0.15vw;   
  }

  .eperiencebarcontainer{
    width: 15vw;
    height: 1.5vw;
    margin-top: 1vw;
    border-style: solid;
    border-width: 0.15vw;
    border-color: #fe58bc;
    margin-left: 2vw;    
  }

  .experiencebar{
    height: 100%;
    background-color: #04d9ff;  
  }
  
  .flexright{
    width: 45%;
    margin-left: 5%;
    float: right;
  }

  .width{
    width: 50%;    
  }

  .downloadbutton{
    background-color: #232323;
    color: #04d9ff;
    border-color: #04d9ff;
    border-width: 0.1vw;
    border-style: solid;
    font-family: terminal;
    font-size: 2.3vw;
    height: 3vw;
    width: 17%;
    margin-top: 3vw;
    transition: 0.5s;
    text-align: center;
    text-decoration: none;
    margin-left:41.5% ;
    display: inline-block;
    padding-top: 0.8vw;
  }

  .downloadbutton:hover{
    border-color: #fe58bc;
  }

